.send-button{
    align-self: right;
}
.bg1{
    --ion-background-color:rgb(76, 76, 253);
  }
.label{
    font-size: large;
    font-weight: bold;
    color: white;
}
.tooltext{
    color: yellow;
    font-size: 30px;
    font-weight: bold; 
  }